@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fixed-height {
    height: 400px;
    max-height: 400px;
    min-height: 400px;
  }
}

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.indigo.600') transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: theme('colors.indigo.600');
    border-radius: theme('borderRadius.sm');
  }
}
